:root {
  --background: #f5f5f5;
  --grid: #eaeaff;
  --purple: #b469ff;
  --pink: #ff66bc;
  --orange: #fc6b44;
  --yellow: #ffea29;
  --green: #03d66c;
  --vibrant-blue: #6397ff;
  --medium-blue: #7eb0fc;
  --light-blue: #9fc2fd;
  --text: #1a2376;
}

.dark-theme {
  --background: #0f1427;
  --grid: #252e50;
  --purple: #b469ff;
  --pink: #ff66bc;
  --orange: #fc6b44;
  --yellow: #ffea29;
  --green: #03d66c;
  --vibrant-blue: #4891ff;
  --medium-blue: #132542;
  --light-blue: #1b3864;
  --text: #f5f5f5;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--background);
  color: var(--text);
  font-family: "Atkinson Hyperlegible", sans-serif;
  transition: background-color 0.4s ease, color 0.4s ease;
  padding-top: 76px;

  background-image:
    linear-gradient(var(--grid) 0.1em, transparent 0.1em),
    linear-gradient(90deg, var(--grid) 0.1em, transparent 0.1em);
  background-size: 2em 2em;
}


.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 40px 20px;
  min-height: 440px;
}

h2.section-title {
  font-family: "Ultra", serif;
  font-size: 42px;
  text-align: center;
  color: var(--text);
  margin-bottom: 30px;
}

.hero-section {
  min-height: max(850px, 66.4vw);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 40px 20px;
  overflow: hidden;
}

.hero-title {
  font-family: "Ultra", serif;
  font-weight: 400;
  font-style: normal;
  font-size: clamp(48px, 5.55vw, 140px);
  color: var(--text);
  text-align: center;
  letter-spacing: -0.5px;
}

.decorations  {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  .decoration-book {
    position: absolute;
    width: 15.08%;
    height: auto;
    top: 15.41%;
    left: 5.16%;
  }
  .decoration-circleG {
    position: absolute;
    width: 5.94%;
    height: auto;
    top: 31.53%;
    left: 29.69%;
  }
  .decoration-line {
    position: absolute;
    width: 22.19%;
    height: auto;
    top: 5.76%;
    left: 36.80%;
  }
  .decoration-magnifyi {
    position: absolute;
    width: 17.03%;
    height: auto;
    top: 20%;
    left: 65.86%;
  }
  .decoration-curveP {
    position: absolute;
    width: 14.69%;
    height: auto;
    top: 12.12%;
    right: 23.44%;
  }
  .decoration-starT {
    position: absolute;
    width: 13.05%;
    height: auto;
    top: 26.24%;
    right: 10.47%;
  }
  .decoration-circleO {
    position: absolute;
    width: 5.86%;
    height: auto;
    top: 39.76%;
    right: 2.27%;
  }
  .decoration-ste {
    position: absolute;
    width: 16.95%;
    height: auto;
    top: 57.76%;
    left: 3.98%;
  }
  .decoration-curvePi {
    position: absolute;
    width: 13.59%;
    height: auto;
    top: 63.18%;
    left: 30.31%;
  }
  .decoration-circleP {
    position: absolute;
    width: 5.94%;
    height: auto;
    top: 63.18%;
    left: 57.58%;
  }
  .decoration-starB {
    position: absolute;
    width: 13.05%;
    height: auto;
    top: 61.18%;
    right: 31.88%;
    rotate: 140deg;
  }
  .decoration-screw {
    position: absolute;
    width: 19.38%;
    height: auto;
    top: 59.65%;
    right: 8.36%;
  }
}
